{% extends "lib/base.html" %}

{% block body %}
      <div class="repo">
        <div class="title passing">
          <a href="/nickfrostatx/frost">nickfrostatx/frost</a>
        </div>
      </div>
      <div class="repo">
        <div class="title progress">
          <a href="/nickfrostatx/flask-hookserver">nickfrostatx/flask-hookserver</a>
        </div>
      </div>
      <div class="repo">
        <div class="title failing">
          <a href="/nickfrostatx/nass">nickfrostatx/nass</a>
        </div>
      </div>
      <div class="repo">
        <div class="title corral">
          <a href="/nickfrostatx/corral">nickfrostatx/corral</a>
        </div>
      </div>
{%- endblock %}
