.container {
    color: #333;
    font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    width: 800px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    margin: 0 auto;
    width: 1000px;
}

.logo {
    color: #333;
    font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.logo > a {
    text-decoration: none;
}

.err {
    height: 180px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.err-code {
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica', 'Arial Narrow', 'Arial', sans-serif;
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.err-msg {
    color: #777;
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica', 'Arial Narrow', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.passing {
    color: #3ca85b;
}

.failing {
    color: #db423c;
}

.progress {
    color: #c4bb16;
}

.inactive {
    color: #999;
}

.repo {
    border-top: 1px solid #999;
    padding: 24px 0;
}

.title {
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica', 'Arial Narrow', 'Arial', sans-serif;
    font-size: 20px;
}

.repo:first-child {
    border: none;
}
